body {
    margin: 140px auto;
    width: 60%;
    font-family: 'Raleway', sans-serif;
    background-image: url('/background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 25px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
    line-height: 1.7em;
    color: #585c63;
}

footer {
    font-size: .8em;
}

.column {
    float: left;
}

.left {
    width: 18%;
}

.right {
    width: 82%;
}

.container {
    margin-bottom: 30px;
}