<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
			<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/"><i class = "fas fa-home"></i></a></li>
	        		<li><a href="/Resume.pdf" target = "_blank"><i class = "fas fa-file"></i></a></li>
	        		<li><a href="https://github.com/limboaz"><i class="fab fa-github"></i></a></li>
	       		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:yinuozh007@gmail.com"><i class = "fas fa-envelope"></i></a></li>
	        		<li><a href="https://www.linkedin.com/in/yinuo-zhang-591507146/"><i class="fab fa-linkedin-in"></i></a></li>
				</ul>
			</footer>
		</body>
	</html>
